.mapofCartItems{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cartTileID{
  display:flex;
  flex-direction: row;
  width: 600px;
  height:150px;
}
#rightTileID{
  width:250px;
}
#leftTileID{
  width:55%;
  height: 100%;
}
.totalAndCartDiv{
  margin: 0 auto;
  max-width: 1296px;
  display:flex;
  justify-content: center;
}
.boxRow>h2{
  margin:8px;

}
.boxRow{
  padding:8px;
  display: flex;
  justify-content: space-between;
  width:250px;
}
.totalBox{
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  margin:8px;
  display:flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
}


#checkoutButton:hover{
  color:black;
    background-color: #006340;
    border: none;
    transition: all .5s ease

}

#checkoutButton{
  color: white;
  background-color: black;
  transition: all .5s ease;
}
