.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.logoHeaderNav{
object-fit: cover;
height:70px;
width:300px;
}
.navigationBarDiv{
  margin-left:10px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}

.searchNav{
  height:65px;
  width:45%;
  font-size: 18px;
}

.sellLoginSignUp{
  display:flex;
  align-items: center;
}

.loginSignupDiv>button{
  height: 55px;
  font-size:20px;
}


.loginSignupDiv{
  display:flex;
}
