.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.logoHeaderNav{
object-fit: cover;
height:70px;
width:300px;
margin-left:15px;
}


.sellLoginSignUp{
  display:flex;
  align-items: center;
  height:70px;
}

.loginSignupDiv>button{
  height: 55px;
  font-size:20px;
}


.loginSignupDiv{
  display:flex;
}

.navigationBarDiv
{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px #e2e8f0 solid;
  padding-bottom: 5px;
  box-shadow: 0 5px 15px #535252;
  margin-bottom:35px;
}
.SellhereAndUserButton{
  display:flex;
}

#navButtonLogin,#navButtonSignUp,#navButtonSell,#navCartButton{
  height: 36px;
  font-weight: 600;
  font-size:18px;
  width:90px;
  word-break: keep-all;
  margin:8px;
  margin-bottom:0;
  margin-top:0px;
  cursor:pointer;
}
#profileButtonSell{
  height: 36px;
  font-weight: 600;
  font-size:18px;
  width:120px;
  word-break: keep-all;
  margin:8px;
  margin-bottom:0;
  margin-top:0px;
  cursor:pointer;
}

#navButtonSignUp{
  background-color: #393939;
  color:white;

  transition:background-color .5s ease;
  transition: color .5s ease;
}

#navButtonSignUp:hover{
background-color: white;
color:#393939;

transition: background-color .5s ease;
transition: color .5s ease;
}
