.headerShoePriceButton{
    display:flex;
    justify-content: center;
}
.columnLeft{
    margin-right:20px;
}

.buyNowButton{
    margin:10px;
    width:100px;
    height:70px;
    font-weight:bolder;
    background-color: white;
    border:1px solid black;

}
.verifyCondition{
    display:flex
}
.columnRight{

    width:500px;
    margin:15px;

}
.clockDivandText{
    height:40px;
    background-color: #e9e8e3;
    display:flex;
}

.stockXVerifiedpTag{
 padding-bottom: 9px;
 border-bottom: .5px grey solid;
}
