.createItemFormContainer{

    justify-content: center;
    align-items: center;
}


.createItemFormContainer{
    margin: 0 auto;
    width: 600px;
    border: 3px solid #e2e8f0;
    padding:0px;
    border-radius: 5px;

}
.entireFormDiv{
    display:flex;
    justify-content: space-between;
}
#divinSellPage{
    font-family: basic-sans, sans-serif;
}
#descriptionInput{
    border:1px solid #e2e8f0;
    height:65px;
    padding-top: 9px;
    text-align:left;
}
#nameInput{
    border:1px solid #e2e8f0;
    width:100%;
    margin-top:5px;
    height:35px;
}
#divinSellPage{

    margin-top: 5px;
    margin: 0 auto;
    width:250px;
}
.Sellproduct{
    margin:0 auto;
    display:flex;
    justify-content: center;
}
.leftDiv,.rightDiv{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin:5px;
}
#fileSelector::file-selector-button{
    height:35px;
    font-size: 20px;
}
