.createItemFormContainer{
    display:flex;
    flex-direction: column;
}


.createItemFormContainer{
    margin: 0 auto;
    width:350px;
    border: 3px solid #e2e8f0;
    padding:10px;
    border-radius: 5px;
}
