.onFeetPictureTag{
    height:250px;
    width:300px;
    border-radius: 5px;
    object-fit: cover;
    margin:10px;
    cursor:pointer;

    transition: .5s ease


}

.onFeetPictureTag:hover{
    filter: blur(4px);
    transition:filter .5s ease
}

.mappingReviews{
    display:flex;
    flex-wrap: wrap;
    border-top: 1px #e2e8f0 solid;
}
